@import "tailwindcss";

form {
    .fi-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5;
    }

    .fi-select-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5;
    }

    .fi-textarea {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5;
    }

    label:has(.fi-radio-input) {
        @apply inline-flex items-baseline gap-3 bg-rose-200;
    }

    button {
        @apply bg-rose-600 text-white text-sm font-semibold rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5;
    }

    button:hover {
        @apply bg-rose-700;
    }

    button:disabled {
        @apply bg-gray-300 text-gray-500 cursor-not-allowed;
    }

    button:disabled:hover {
        @apply bg-gray-300;
    }
}